*{
    padding : 0 ;
    margin : 0;
}

html body{
    height:100%;
    width:100%;
    text-align: center;
}

/* .game-container{
    height:100%;
    width:100%;
    text-align: center;
    background-color: aqua;
} */

#game-Board{
    
    border: 4px solid ;
    background-color: rgb(134, 17, 237);

}
